html{
      background-image: url("images/background.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      width:100%;
      height:100%;
}

h1{
  color:white;
  font-family: 'Love Ya Like A Sister', cursive;
  text-shadow: 1px 1px black;
  font-size: 300%;
  margin:5%;
}
.container{
  background-image: url("images/tornPaper.png");
  width:70%;
  height:500px;
  margin:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  overflow:auto;
}
.random{
  padding:10%;
}
button{
  color:#fcfcfc;
  text-shadow: 1px 1px black;
  padding:5px;
  margin:5px;
  background-color:#ed1212;
  box-shadow: 5px 5px 5px grey;
  border-radius:10%;
  font-family: 'Love Ya Like A Sister', cursive;
}
.special {
  text-decoration: underline;
  font-family: 'Love Ya Like A Sister', cursive;
  color: green;
}

.fancy {
  text-decoration: underline;
  font-family: 'Homemade Apple', cursive;
  color: teal;
}
